.Navbar {
    width: 100%;
    height: 5rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 1.5rem;
}


.Icons {

    display: flex;
    align-items: center;
    color: #d1d3e2;
}
